user_uuid = "f517333b-e09e-4f67-b9df-b5df54db70bd"
bucket_name = "832d5t9u7h6sdav89fvk0jplfyre6v1m"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"